:root {
    /* الألوان الرئيسية */
    --background-color: #1C1620;
    --secondary-background-color: #2C2233;
    --accent-color-1: #6C549B;
    --accent-color-2: #CAA43E;
    --accent-color-3: #D4A5E1;
    --accent-color-4: #DCD7E8;
    --highlight-color: #E5C868;

    /* النصوص */
    --text-color: #FFFFFF;
    /* النصوص الرئيسية باللون الأبيض */
    --text-muted-color: #DCD7E8;
    /* النصوص الثانوية */

    /* ألوان الروابط */
    --link-color: #CAA43E;
    --link-hover-color: #D4A5E1;

    /* تدرج الخلفية */
    --background-gradient1: linear-gradient(90deg,
            rgba(26, 42, 70, 0.75) 0%,
            rgba(31, 30, 51, 0.75) 100%),
        linear-gradient(0deg, rgba(44, 34, 51, 0.2), rgba(44, 34, 51, 0.2));

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Aljazeera-Regular";
    src: url(../fonts/Al-Jazeera-Arabic\ Regular.ttf)
}

@font-face {
    font-family: "Aljazeera-Bold";
    src: url(../fonts/Al-Jazeera-Arabic\ Bold.ttf);
}




body {
    font-size: 1rem;
    line-height: 150%;
    font-family: 'Aljazeera-Regular', sans-serif;
    background: var(--background-color);
    color: var(--text-color);

}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Aljazeera-Bold";
    margin: 0;
    line-height: 150%;
}



h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;

}

h4 {
    font-size: 1.8rem;

}

h5 {
    font-size: 1.3rem;

}

p {
    font-size: 1rem;
    line-height: 150%;
}

a,
a:active,
a:focus,
a:hover {
    text-decoration: none
}

a:active,
a:focus,
a:hover {
    outline: 0
}

img {
    max-width: 100%;
    height: auto
}

ul {
    list-style: none none;
    margin: 0;
    padding: 0
}

p {
    margin: 0;
}

.mr-100 {
    margin-right: 100px;
}

.btn {
    display: flex;
    align-items: center;
    grid-gap: 8px;
    justify-content: center;
    width: max-content;

    padding: 8px 20px;
    font-size: 1rem;
}

.btn-outline-primary {
    color: var(--link-color);
    border-color: var(--accent-color-2);
    border: none;
    padding: 0;
    font-size: 1rem;
    margin: 0;

}

.btn-primary {
    background-color: var(--accent-color-1);
    border-color: var(--accent-color-1);
}

.btn-secondary {
    background-color: var(--accent-color-2);
    border-color: var(--accent-color-2);
}

.btn-primary:hover {
    background-color: var(--highlight-color);
    border-color: var(--highlight-color);
}

.btn-outline-primary:hover {
    border-color: unset;
    background-color: unset;
    color: var(--secondary-color);
}

.overlay {
    background: rgba(0, 0, 0, 0.6);
    color: var(--text-color);
}

/* Navbar Styling */
.custom-navbar {
    background: var(--background-gradient1);
    padding: .5rem 0;

}

.custom-navbar.fixed-nav {
    background-color: #1C1620;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-logo {
    width: 45px;
    margin-right: 10px;
}



.navbar-nav .nav-item .nav-link {
    margin: 0;
    padding: 15px;
}

.nav-link {
    color: var(--text-color);
    margin-right: 15px;
    transition: color 0.3s ease;
}

.navbar-nav .nav-link.active,
.navbar-nav .show>.nav-link {
    color: #b792ff;
    position: relative;
}

.navbar-nav .nav-link.active::after,
.navbar-nav .show>.nav-link::after {
    content: "";
    height: 2px;
    background-color: #b792ff;
    position: absolute;
    bottom: 7px;
    left: 15%;
    WIDTH: 70%;

}

.nav-link:hover {
    color: #FFFFFF;
}

.search-form {
    -webkit-border-radius: 8px;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.search-form .search-input {
    background-color: var(--content-bg-color);
    color: var(--text-color);
    border-radius: 8px;
    padding: 5px 10px;
    border: none;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    max-width: 100%;
}

.search-form .search-input:focus {
    box-shadow: none;
}

.search-form .search-button {
    background-color: var(--secondary-color);
    color: var(--text-color);
    border: none;
    border-radius: 8px;
    padding: 5px 15px;
    margin-left: 0;
    transition: background-color 0.3s ease;

    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.search-form .search-button:hover {
    background-color: var(--hover-color);
}

.navbar-toggler {
    color: var(--text-color);
}

.footer {
    background-color: #17111C;
    color: #fff;
    background-image: url("../img/background/2.webp");
    background-size: cover;
    background-position: center;
}

.footer-title {
    font-size: 1.25rem;
    color: #ffc107;
}

.footer-link {
    color: #ccc;
    text-decoration: none;
}

.footer-link:hover {
    text-decoration: underline;
}

.social-icons a {
    font-size: 1.25rem;
}



.footer {
    background-color: #17111C;
    padding-top: 40px;
}

.footer-logo {
    width: 60px;
}

.social-icons a {
    font-size: 18px;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #f7d9c4;
    /* لون عند التمرير */
}



.form-control:focus {
    box-shadow: none;
    border: 1px solid #f7d9c4;
}

.footer-bottom {
    padding: 20px 0;
}



@media (max-width: 768px) {


    .footer .text-center {
        flex-flow: column;
    }

    .navbar-nav .nav-link.active,
    .navbar-nav .show>.nav-link {
        width: max-content;
    }

    .navbar-collapse {
        padding: 20px 0;
    }

    .navbar-toggler-icon {
        color: #FFFFFF;
    }

    .navbar-toggler-icon {

        filter: invert(1);
    }

    .navbar-toggler {
        border-color: #FFFFFF;

    }


}

section header {
    margin-bottom: 60px;
}

.header-home {
    position: relative;
    padding: 120px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    overflow: hidden;
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
    /* لضمان أن الفيديو في الخلف */
}

.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    /* لون أسود شفاف */
    z-index: -1;
    /* بين الفيديو والمحتوى */
}

.container {
    position: relative;
    z-index: 1;
    /* لجعل النصوص فوق الفيديو والـ Overlay */
}

#header-subtitle {
    display: flex;
    align-items: center;
    backdrop-filter: blur(20px);
    background: var(--link-color);
    padding: 8px 20px;
    width: max-content;
    border-radius: 24px;
    margin-bottom: 20px;
}

#header-title {
    margin-bottom: 20px;
}

.header-home p {
    font-size: 1.3rem;
    margin-bottom: 20px;
}


/* شكل مشغّل الصوت */
.audio-player {

    background-color: var(--secondary-background-color);

    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);

}



.song-meta-data .song-name,
.song-meta-data .song-artist {
    color: var(--text-color);
}

.player-volume input[type="range"] {
    background-color: var(--secondary-background-color);


}


.audio-player-hide {
    background-color: transparent;
    color: var(--text-color);

}

.audio-player.show {
    bottom: -125px;
}

.audio-player.show .audio-player-hide {
    background: var(--secondary-background-color)
}

.song-meta-data .song-name,
.song-meta-data .song-artist {
    margin: 0;
}

.song-meta-data p {
    margin: 0;
}

.album-name {
    font-size: 14px;
    margin-bottom: 0;
}

/* Start Section Most Listened */
.most-listened {
    padding: 90px 0;
    background: url("../img/background/2.webp") center/cover no-repeat;
}

.list-listened {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.list-listened .item {
    color: var(--text-color);
    background: var(--secondary-background-color);
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
}

.list-listened .item .image {
    width: 110px;
    flex-shrink: 0;
    border-radius: 12px;
    overflow: hidden;
}

.list-listened .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.list-listened .item .body-card {
    padding: 16px;
}

.body-card .episode-name {
    font-size: 16px;
    margin-bottom: 10px;
}

.body-card p {
    font-size: 12px;
    margin-bottom: 5px;
    color: var(--text-muted-color);
}

.body-card p:last-child {
    margin-bottom: 0;
}

/* End Section Most Listened */

/* Start Section Our Suggestions */
.owl-suggestions .owl-dots.disabled,
.owl-suggestions .owl-nav.disabled {
    display: block;
}

.owl-suggestions .owl-nav button.owl-next,
.owl-suggestions .owl-nav button.owl-prev {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accent-color-1);
    border-radius: 50%;
    color: var(--text-color);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.owl-suggestions .owl-nav button.owl-next{
    left: -60px;
}
.owl-suggestions .owl-nav button.owl-prev {
    right: -60px;
}
.our-suggestions {
    padding: 90px 0;
    background-color: var(--secondary-background-color);
    background-image: url("../img/background/2.webp") center/cover no-repeat;

}

.owl-suggestions .item {
    background-color: var(--background-color);
    overflow: hidden;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.owl-suggestions .item img {
    height: 240px;
    object-fit: cover;
}

.owl-suggestions .item .content {
    padding: 16px;

}

.owl-suggestions .item .content h5 {
    margin-bottom: 10px;
}

.owl-suggestions .item .content p {
    margin-bottom: 20px;
}

/* End Section Our Suggestions */

/* تنسيق أيقونات المنصات */
.platform-icons {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: end;
}

.platform-icons a {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accent-color-1);
    border-radius: 50%;
    color: var(--text-color);
    font-size: 20px;
    text-decoration: none;
    transition: transform 0.2s ease, color 0.2s ease;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.platform-icons a:hover {
    background-color: var(--accent-color-2);

    transform: scale(1.2);
}







.item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}